body {
    background-image: url('../img/image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-div {
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 25px;
    
}

.main-div > h1, p {
    display: flex;
    justify-content: center;
}

.main-div > button {
    display: flex;
    margin: 0 auto;
}


.qDiv {
    display: none;
    background-color: white;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 25px;
}

.qDiv > h1, p {
    display: flex;
    justify-content: center;
}

.btn-div {
    display: flex;
    justify-content: center;
}

.btn-div > button {
    margin: 6px;
}